<ion-content>
    <ion-grid style="height:90px;background-color:#2A4E8E">
         <ion-row>
             <ion-col col-2 (click)="goHome()">
                     <img src="assets/icon/profile.jpg" style="width:50px;height:50px;border:2px solid white;border-radius:8%">
             </ion-col>
             <ion-col col-5>
                     <span style="font-family: Helvetica-Bold;
                     font-size: 14px;
                     color: #FFFFFF;display:block">Raja</span>
                     <span style="font-family: Helvetica;
                     font-size: 12px;
                     color: #DCDCDC;">Maths Department</span>
             </ion-col>
             <ion-col col-5 style="text-align:right">
                    <span style="font-family: Helvetica-Bold;
                     font-size: 14px;
                     color: #FFFFFF;display:block">Class Attendance</span>
                     <span style="
                     font-family: Helvetica-Bold;
                     font-size: 20px;
                     color: #FFFFFF;">78%</span>
             </ion-col>
         </ion-row>
         <ion-row>
           <ion-col style="text-align:center">
             <img src="assets/icon/switch.png" (click)="togglePage()" style="width:25px; height:25px">
           </ion-col>
         </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <span style="
                font-family: Helvetica;
                font-size: 24px;
                color: #898989;">Prev</span>
            </ion-col>
            <ion-col>
                 <span style="/* September: */
                 font-family: Helvetica;
                 font-size: 24px;
                 color: #12850C;">September</span>
             </ion-col>
             <ion-col style="/* Next: */
             font-family: Helvetica;
             font-size: 24px;
             color: #898989;text-align:right">
                 <span>Next</span>
             </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid style="border-bottom:1px solid #989898" *ngFor="let n of [0,1,2,3]">
        <ion-row style="align-items:center">
            <ion-col>
                 <span style="/* 30: */
                 font-family: Helvetica;
                 font-size: 24px;
                 color: #2A4E8E;">30 Sep</span>
            </ion-col>
            <ion-col>
                <ion-row>
                     <ion-col>
                         <span class="labelMS">Overall</span>
                     </ion-col>
                </ion-row>
                <ion-row>
                     <ion-col>
                         <span class="valueMS">24/24</span>
                     </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                 <ion-row>
                      <ion-col>
                          <span class="labelMS">Percentage</span>
                      </ion-col>
                 </ion-row>
                 <ion-row>
                      <ion-col>
                          <span class="valueMS">100</span>
                      </ion-col>
                 </ion-row>
             </ion-col>
             <ion-col>
                 <ion-row>
                         <ion-col>
                             <span class="labelMS">Absentees</span>
                         </ion-col>
                 </ion-row>
                 <ion-row>
                         <ion-col>
                             <span class="valueMS"  (click)="showModalMS = !showModalMS">View</span>
                         </ion-col>
                 </ion-row>
             </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="modalMS" [hidden]="showModalMS">
        <ion-row style="align-items:center" style="border-bottom:1px solid #989898" *ngFor="let j of [0,1,2,3]">
            <ion-col>
                 <span style="/* 30: */
                 font-family: Helvetica;
                 font-size: 24px;
                 color: #2A4E8E;display:block">Karthik Prabu</span>
                 <span class="labelMS">239504</span>
            </ion-col>
             <ion-col col-3>
                 <ion-row>
                         <ion-col>
                             <span class="valueMS">Call</span>
                         </ion-col>
                 </ion-row>
             </ion-col>
        </ion-row>
      <ion-row style="position:absolute;bottom:0px;text-align:center;width:100%">
        <ion-col>
            <button (click)="showModalMS = !showModalMS" ion-button style="background-color:#2A4E8E;border-radius:20px">Close</button>            
        </ion-col>
      </ion-row>
    </ion-grid>
 </ion-content>
 