$newcolor:   #0b6fbc;
page-home {
.a1{
   background: linear-gradient(to right, #0345A9 0%,#020B8F 30%,rgba(255,255,255,1) 90%);
   height:20px;
   color:white;
   text-align: center;
}
.det{
    color: black;
    padding: 10px;
    border: 1px solid #0b6fbc;
    margin-bottom: 3px;
    border-top-right-radius: 10px;
}
.iconCss{
    text-align: center;
    padding: 10px;
    color: #0b6fbc;
    font-size:1.1em;
    ion-icon{
        font-size: 2.5em;
    }
}
};
#section1 {
    //width: 375px;
    height: 334px;
    background-color: #2a4e8e;
    padding: unset;
};
.bgHome {
    //width: 375px;
    height: 50px;
  };
.Home {
    height: 24px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
  };
  .bgContent {
    //width: 375px;
    height: 284px;
    background-color: #2a4e8e;
  };
  .colContent {
    padding-top: 56px;
    padding-left: 58px;
  };
  .contentName {
    //width: 133px;
    height: 37px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
  };
  .contentClass {
    //width: 100px;
    height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
  #section2 {
   // width: 375px;
    height: 333px;
    background-color: #ffffff;
    padding: unset;
  };
  .bgAttendance {
    // width: 375px;
    height: 76px;
    background-color: #ebb726;
    border: solid 1px #979797;
  };
  .Attendance {
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 29px;
    height: 37px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #534b30;
  };
  .divsection1 {
    background-color: #003399;
    border: solid 1px #979797;
  };
  .divsection2 {
    background-color: #62a9e3;
    border: solid 1px #979797;
  };
  .Timetable {
   // width: 98px;
    height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
  .iconTime {
    transform: translateY(25px);
  };
  .iconAcademics {
    transform: translateY(25px);
  };
  .Academics {
   // width: 108px;
    height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
  .divsection3 {
    background-color: #637c8f;
    border: solid 1px #979797;
  };
  .Announcement {
    //width: 149px;
    height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
  .iconAnnous {
    transform: translateY(25px);
  };
  .divsection4{
    background-color: #002144;
  border: solid 1px #979797;
  };
  .Profile {
    //width: 64px;
    height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  };
  .iconProfile {
    transform: translateY(25px);
  };