page-announcements {
    .download {
       // width: 69px;
        height: 17px;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
      };
      .queries {
        //width: 54px;
        height: 17px;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
      };
      .Timetable-for-unit-t {
        //width: 264px;
        //height: 60px;
        font-family: -appl-apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
      }
}
