page-attendance {
    .item-block{
        min-height: 0 !important;
        transition: 0.09s all linear !important;
        border:0px !important;
      }
      ion-item-group {
        padding-bottom: 5px;
      }
      .labelMS{
        font-family: Helvetica-Bold;
        font-size: 14px;
        color: #8A8A8A;
      }
      .valueMS{
        font-family: Helvetica;
        font-size: 24px;
        color: #12850C;
      }
};
.mbgAttendance {
  //width: 375px;
  height: 50px;
  background-color: #2a4e8e;
};
.mAttendance {
  //width: 102px;
  height: 24px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
};
.menuicon{
  color : #ffffff;
  font-size: 2.5em;
};
.navAtten {
  height: 50px;
  background-color: #494949;
}
