page-attendance {
    .item-block{
        min-height: 0 !important;
        transition: 0.09s all linear !important;
        border:0px !important;
      }
      ion-item-group {
        padding-bottom: 5px;
      }
      .labelMS{
        font-family: Helvetica-Bold;
        font-size: 14px;
        color: #8A8A8A;
      }
      .valueMS{
        font-family: Helvetica;
        font-size: 24px;
        color: #12850C;
      }
};
.rowAttendance {
  //width: 375px;
  padding: unset;
}
.mbgAttendance {
  //width: 375px;
  height: 50px;
  background-color: #2a4e8e;
  margin-left: -5px;
  margin-right: -5px;
};
.mAttendance {
  //width: 102px;
  height: 24px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
};
.menuicon{
  color : #ffffff;
  font-size: 2.5em;
};
.navAtten {
  height: 50px;
  background-color: #494949;
};
.tabs-md .tab-button-text {
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
};
.tabs-md .tabbar {
  background: #494949;
};
.tabs-md .tab-button[aria-selected=true] {
  height: 4px;
  color : #494949;
  border-bottom-color : #f8e81c;
  border-style: solid;
  border-width: 4px;
};
.fixed {
  position: fixed;
};
.tabs-ios .tabbar {
  background: #494949;
};
.tabs-ios .tab-button[aria-selected=true] {
  height: 4px;
  color : #494949;
  border-bottom-color : #f8e81c;
  border-style: solid;
  border-width: 4px;
};
.tabs-ios .tab-button-text {
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
};
.tabs-ios .tab-button.has-title-only .tab-button-text {
  font-size: 1.6rem;
}
.tabs-wp .tabbar {
  background: #494949;
}
.tabs-wp .tab-button[aria-selected=true] {
  height: 4px;
  color : #494949;
  border-bottom-color : #f8e81c;
  border-style: solid;
  border-width: 4px;
};
.tabs-wp .tab-button-text {
  height: 22px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
};