page-summary {

    .iconCss{
        text-align: center;
        padding: 10px;
        color: #0b6fbc;
        font-size:1.1em;
        ion-icon{
            font-size: 2.5em;
        }
    

};
.no-scroll .scroll-content{
    overflow: hidden;
};
.suGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
};
}